#
# gitignore: files not tu be versioned


# text editors stuff
*.swp
*~

# python stuff
*.pyc
.cache
__pycache__
*.egg-info
pymech/_version.py
.eggs

# documentation (sphinx) stuff
docs/_build
.ipynb_checkpoints

# test related
test.rea
test*.f*
