language: python
python:
   - 3.6
   - 3.7
   - 3.8

install:
    - pip install -U pip coveralls
    - pip install -e .[tests]

script:
    - pytest -s -v --cov -n 4

after_success:
   - coveralls

notifications:
   email: false
