name: deploy
on:
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  pypi:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: python -m pip install --upgrade pip nox nox-pdm pdm

    - name: Download, test and publish package
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: nox --session pypi --stop-on-first-error
